/* Author: Simon Lachaîne */

/* Fonts */
@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sansationregular';
    src: url('fonts/Sansation-Regular-webfont.eot');
    src: url('fonts/Sansation-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Sansation-Regular-webfont.woff') format('woff'),
         url('fonts/Sansation-Regular-webfont.ttf') format('truetype'),
         url('fonts/Sansation-Regular-webfont.svg#sansationregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: url("images/asanoha.png");
    font-family: 'open_sansregular', Arial, sans-serif;
    font-size: 1em;
}

h1, h2, h3, h4, strong, em {
    font-family: 'sansationregular', Arial, sans-serif;
}

/* Layout */
html, body, .flex-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
    overflow-y: auto;
}

header {
    flex: 0 0 auto;
    text-align: center;
    box-shadow: 0 3px 6px black;
}

section {
    border: 3px #6E230E solid;
    border-radius: 12px;
    box-shadow: 3px 3px 12px grey;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 15px;
    overflow: auto;
    -webkit-transition: box-shadow 1s;
    transition: box-shadow 1s;
}

section:hover {
    box-shadow: 3px 3px 12px black;
}

section strong, section em, section a {
    text-shadow: none;
    -webkit-transition: text-shadow 1s;
    transition: text-shadow 1s;
}

section:hover strong, section:hover em, section:hover a {
    text-shadow: 1px 1px 3px grey;
}

aside {
    background-color: black;
    color: white;
    box-shadow: 3px 0 3px black;
    text-align: center;
}

aside address {
    font-style: normal;
    text-align: center;
    padding: 20px;
}

footer {
    text-align: center;
    margin: 20px;
}

/* Formatting */
#photo {
    border-radius: 50%;
    box-shadow: 3px 3px 6px black;
    margin: 25px;
}

h1 {
    color: #6E230E;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
}

h2 {
    color: #6E230E;
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1em;
}

ul {
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0;
}

li {
    padding-bottom: 5px;
    padding-top: 5px;
}

strong {
    color: #530E6E;
    font-weight: bold;
}

em {
    color: #530E6E;
}

ul > li > ul > li {
    font-style: italic;
}

/* Links */
a {
    color: #0E596E;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: grey;
}

a:hover {
    color: #6E230E;
}

a:active {
    color: #530E6E;
}

aside a, aside a:hover, aside a:active, aside a:visited {
    color: white;
    font-size: 1.2em;
}

/* Tablet Portrait */
@media all and (min-width: 768px){
    section h2 {
        text-align: center;
    }
    ul {
        padding-left: 2em;
    }
}

/* Tablet Landscape */
@media all and (min-width: 1024px){
    .main {
        flex-direction: row;
    }
    aside {
        flex: 0 0 auto;
    }
    .inner {
        flex: 1 1 auto;
        overflow-y: auto;
    }
}

/* Laptops and Desktops */
@media only screen and (min-width: 1280px){
    .inner {
        justify-content: space-around;
    }

    article {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}